<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'chat1/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>

<body>
    <h1>Ldce chat bot</h1>
    <div>
        <div id="chatbot">

            <p class="botText"  ><span>Hi there</span></p>

        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type Your message">
            <input type="submit" id="buttonInput" value="send">
        </div>
    </div>

    <script>

        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHtml = "<p class='userText'> user : <span>"+ userText+"</span></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHtml);

            $.get('/chat1/getResponse',{userMessage:userText}).done(function(data){
                var data = data.split(',')
                var returnedMessage  = "<p class='botText'>chatbot:<span><a href="+data[0]+" target='_blank'>"+data[0]+"</a></span></p>";
                var returnedMessage1  = "<p class='botText'>chatbot:<span><a href="+data[1]+" target='_blank'>"+data[1]+"</a></span></p>";
                $('#chatbot').append(returnedMessage);
                $('#chatbot').append(returnedMessage1);

            })
        }

        $('#buttonInput').click(function(){
            getUserResponse();
        })

    </script>


</body>
</html>