<!DOCTYPE html>
<html>
<head>
  <title>Chatbot LDCE</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chat1/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

  <div id="chatbot-icon">
    <img src="{% static 'chat1/images/chatbot.png' %}" alt="Chatbot Icon">
  </div>
  <div id="chat-window">
    <!-- Chat messages will be dynamically added here -->
    <div class="chatbot-container">
      <div class="chatbot-header">
        <h1>Ldce Bot</h1>
      </div>
      <div class="chatbot-body" id="chatbox"></div>
      <div class="chatbot-input">
        <input type="text" id="input" placeholder="Enter your message..." required>
        <button onclick="processInput()">Send</button>
      </div>
    </div>
  </div>


  

  <script>


const chatbotIcon = document.getElementById('chatbot-icon');
    const chatWindow = document.getElementById('chat-window');
    function toggleChatWindow() {
      chatWindow.classList.toggle('open');
      if (chatWindow.style.display === 'none') {
        chatWindow.style.display = 'block';
      } else {
        chatWindow.style.display = 'none';
      }
    }
    // Toggle chat window visibility when the chatbot icon is clicked
    chatbotIcon.addEventListener('click', toggleChatWindow);
    function displayMessage(sender, message) {
        var chatbox = document.getElementById("chatbox");
      var newMessage = document.createElement("div");
      newMessage.classList.add("chatbot-message");
      newMessage.classList.add("user-message")
      newMessage.innerHTML = "Bot : <a href=" + message + " target='_blank'>"+message+"</a>";
      if (sender === "You") {
        newMessage.innerHTML = "<p> You : " + message + "</p>";
        newMessage.classList.add("user-message");
      }  
      chatbox.appendChild(newMessage);
      chatbox.scrollTop = chatbox.scrollHeight;
    }



    function processInput() {
      var input = document.getElementById("input");
      var userMessage = input.value;

      displayMessage("You", userMessage);

      $.get('/chat1/getResponse',{userMessage:userMessage}).done(function(data){
                var data = data.split(',')
                displayMessage('Bot',data[0]);
                displayMessage('Bot',data[1]);
            })
      // TODO: Implement your bot's response generation logic here

      input.value = "";
    }

    document.getElementById("input").addEventListener("keydown", function(e) {
      if (e.keyCode === 13) {
        processInput();
    }
});
  </script>
</body>
</html>